HELP.md
.gradle
.gradle-home/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Local Tooling ###
node_modules/
.venv/

### Load Test Artifacts ###
results.json
summary.json


### MAC OS ###
.DS_Store

### Credentials ###
homeseet-back/.env

### Logs ###
logs

### TOSS Payments ###
application-dev.yml

.env
deploy.env
